@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700';

html {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

body {
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

img {
    opacity: 0;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
    color: #fff !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.fa {
    text-decoration: none;
    color: #fff;
}

.shadedbg {
    background: rgba(0,0,0,0.3);
    padding: 0px 20px;
}

#all p {
    padding: 0px 20px;
}

.font { 
    text-align: center;
    color: #fff;
    font-weight: 400;
}

#date {
    font-size: 1.05em;
    line-height: 1.5em;
    width: 100%;
    height: 1.5em;
}

#word {
    font-size: 5em;
    /*text-shadow: 0px 0px 50px #777;*/
}

#defin {
    margin-top: 10px;
    font-size: 1.2em;
}

#pronun {
    font-family: "Open Sans", sans-serif;
}

.fa-heart-o {
    right: 0;
    position: absolute;
    margin-right: 5px;
    margin-top: 4px;
    z-index: 100;
}

#favorites {
    position: absolute;
    height: 2em;
    line-height: 2em;
    top: 0;
    right: 0;
    z-index: 100;
    color: white;
    font-size: 1.05em;
    background: rgba(0,0,0,0.15);
    cursor: pointer;
}
#favorites:active {
    background: rgba(0,0,0,0.3);
}

#fave-panel {
    z-index: 100;
    height: 100%;
    width: 100%;
    right: 0;
    position: absolute;
    background: rgba(0,0,0,0.5);
}

.hide {
    visibility: hidden;
}
